* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Courier Prime', monospace;
}

#output {
	font-size: 1.5rem;
}

#enter {
	padding: 65px 20px;
	position: absolute;
	right: 173px;
	bottom: -54px;
}

#space {
	width: 55%;
	margin-left: 20%;
}

#pagebody {
	animation-duration: 2s;
}

.input {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.row1 {
	padding-left: 3.25rem;
}

.row2 {
	padding-left: 5.25rem;
}

.row3 {
	padding-left: 8.25rem;
}

/*MEDIUM DEVICES*/
@media (min-width: 768px) {

}

/*LARGE DEVICES*/
@media (min-width: 992px) {

}

/*EXTRA LARGE DEVICES*/
@media (min-width: 1200px) {

}